extends layout

//- include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      //- h1= pageHeader.title
      h1 Character Info
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          //- p.rating
          //-   +outputRating(location.rating)
          //- p= location.address
          .card.card-primary
            .card-block
              h1.card-title Character Stats
              i.fas.fa-heart
              i.fas.fa-heart
              i.fas.fa-heart
              i.fas.fa-heart
              i.far.fa-heart
              
              //- each time in location.openingTimes

                p.card-text
                  | #{time.days} :
                  if time.closed
                    | closed
                  else
                    | #{time.opening} - #{time.closing}
          .card.card-primary
            .card-block
              h1.card-title Abilities
              ul Resist Type (Fire)
              ul RT (cold)
              ul RT (wind)
              ul RT (earth)
              ul RT (holy)
              ul RT (curse)
              ul RT (psychic)
              ul RT (perfection)
              ul Magic Burst
              Ul Summon Creature
              ul Detect magic 
              ul Foley Illusion
              a.btn.btn-primary.float-right(href='/location/review/new') Add Ability
        .col-12.col-md-6
          .card.card-primary
            .card-block
              h1.card-title Locked out 4/29/24 - 5/15/24
              i.fas.fa-calendar
              i.fas.fa-calendar
              i.far.fa-calendar
              i.far.fa-calendar
              i.far.fa-calendar
              i.far.fa-calendar
              i.far.fa-calendar
              i.far.fa-calendar   
              i.far.fa-calendar   
              i.far.fa-calendar
              i.far.fa-calendar
              i.far.fa-calendar
              i.far.fa-calendar
              i.far.fa-calendar                                                                                                                                                                           

              //- img.img-fluid.rounded(src=`http://maps.googleapis.com/maps/api/staticmap?center=${location.coords.lat},${location.coords.lng}&zoom=17&size=400x350&sensor=false&markers=${location.coords.lat},${location.coords.lng}&scale=2`)
          .card.card-primary.review-card
            .card-block
              h1.card-title Magic Items
              ul White Staff
              ul Book of Hope
              ul Jewel of Elements 
              ul Rat Totem 
              ul Kobol and Serum
              ul Eye of Sauron            
              ul Bag of Holding
              ul Narya (The Secret Flame)
              ul Pipe
              ul Old Toby
              ul Fireworks
              a.btn.btn-primary.float-right(href='/location/review/new') Add Item                  
              //- each facility in location.facilities
                span.badge.badge-warning
                  i.fa.fa-check
                  | &nbsp;#{facility}
                | &nbsp;
      .row
        .col-12
          .card.card-primary.review-card
            .card-block
              h2.card-title Notes
              p.notes Gandalf, known temporarily as the Grey and later the White, and originally named Olórin (Quenya), was an Istar (Wizard), dispatched to Middle-earth in the Third Age to combat the threat of Sauron. He joined Thorin II and his company to reclaim the Lonely Mountain from Smaug, helped form the Fellowship of the Ring to destroy the One Ring, and led the Free Peoples in the final campaign of the War of the Ring. 
              a.btn.btn-primary.float-right(href='/location/review/new') Add Notes
              //- each review in location.reviews
                .row.review
                  .col-12.no-gutters.review-header
                    span.rating
                      +outputRating(review.rating)
                    span.reviewAuthor #{review.author}
                    small.reviewTimestamp #{review.timestamp}
                  .col-12
                    p !{(review.reviewText).replace(/\n/g, '<br/>')}
    .col-12.col-lg-3
      //- p.lead #{location.name} #{sidebar.context}
      //- p= sidebar.callToAction