extends layout

include _includes/sharedHTMLfunctions

block content
    .row.banner
        .col-12
            h1= pageHeader.title
            h4= pageHeader.strapline 
    .row
        .col-12.col-md-8
            each character in pcList
                .card 
                    .card-block
                        h3
                            a(href=`/users/6627e3747ca08ee65e7f8ec5/characters/${character._id}/info`)= character.name
                            small &nbsp;
                            if (character.lockoutStatus === 'Available')
                                span.badge.badge-pill.badge-lockout-available= character.lockoutStatus
                            else
                                span.badge.badge-pill.badge-lockout-unavailable= character.lockoutStatus
                            
                            span.badge.badge-pill.badge-default.float-right= character.level
                        h5
                            span.badge.badge-warning= "HP"
                            span.badge.badge-warning= "Body"
                            span.badge.badge-warning= "Mind"
                            span.badge.badge-warning= "Spirit"
                        h5
                            span.badge.badge-warning= character.hp
                            span.badge.badge-warning= character.body 
                            span.badge.badge-warning= character.mind 
                            span.badge.badge-warning= character.spirit        
        .col-12.col-md-4
            p.lead= sidebar.sidebarLead 
            p= sidebar.context