extends layout 

block content
    .row.banner
        .col-12
            h1= pageHeader.title
            h4= pageHeader.strapline 
    .row
        .col-12.col-md-8
            each character in pcList
                .card 
                    .card-block
                        h4
                            a(href='/character')= character.name
                            small &nbsp;
                            if (character.lockoutStatus === 'Available')
                                span.badge.badge-pill.badge-lockout-available= character.lockoutStatus
                            else
                                span.badge.badge-pill.badge-lockout-unavailable= character.lockoutStatus
                            
                                span.badge.badge-pill.badge-default.float-right= character.level
                        each stat in character.stats
                            span.badge.badge-warning= stat
        .col-12.col-md-4 
            p.lead 1-to-1 tracker helps you keep track of your game characters. 
            <br> No more tracking characters on your own with pesky calendars and notebooks.
            <br> Let us do the heavy lifiting. The latest inovation in gameplay.
            <br> Our system will revolutionize your gameplay forever!!!