extends layout
block content

    .row.banner
        .col-12
            h1= title
    .row
        .col-12.col-lg-8
            head
                title = Table Example 
                style. 
                    table {
                        border: 4mm ridge rgba(103, 220, 50, .6);
                        table-layout: auto;
                        width: 100%
                    }
                    th {
                        border: 10px solid #00000;
                        padding: 10x;
                        text-align: left;
                        font-size: 35px;
                        color: #aaa;
                    }
                    td {
                        font-size: 20px;
                        text-align: left;
                        color: white;
                    }
            body
                h1= 'Lockout Calendar'
                table
                    thread 
                        
                        tr
                            th Name
                            th Lockout Status
                            th Start Date
                            th End Date
                            th Reason
                    tbody 
                        each lockdown in lockoutList
                            tr
                                td= lockdown.characterName
                                if (lockdown.endDate > currentDate) 
                                    td= 'Locked Out!'
                                else 
                                    td= 'Available!'
                                td= lockdown.startDate.toLocaleDateString({timeZone: 'EST'})
                                td= lockdown.endDate.toLocaleDateString({timeZone: 'EST'})
                                td= lockdown.reason